*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:thistle;
}

.main{
    display: flex;
    gap: 20px;
    background-color:mediumpurple;
    width: 30vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    border: 2px solid purple;
}

.box-1 p, .box-2 p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 30px;
    background-color: lightpink;
}