* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-gallery {
  padding-top: 100px;
}

.navbar-brand {
  font-family: "Imperial Script", cursive;
  font-size: 2.5rem;
}

.custom-gallery-wrapper {
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}

.col {
  padding: 0;
  border: 3px solid white;
}

.col img {
  width: 100%;
  height: 100%;
}

.custom-box {
  background-size: cover;
  mix-blend-mode: luminosity;
  transition: all 0.3s ease-in-out;
}

.custom-box:hover {
  mix-blend-mode: normal;
  transform: scale(1.02);
}

.col:nth-child(1) {
  grid-row: span 2;
}

.col:nth-child(3) {
  grid-row: span 2;
}

.col:nth-child(5) {
  grid-row: span 2;
}

.col:nth-child(7) {
  grid-row: span 2;
}

.col:nth-child(9) {
  grid-row: span 2;
}

@media (max-width: 992px) {
  .custom-gallery-wrapper {
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
  }

  .navbar-brand {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .custom-gallery-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .custom-gallery {
    padding-top: 80px;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .col {
    border: 2px solid white;
  }
}

@media (max-width: 480px) {
  .custom-gallery-wrapper {
    grid-template-columns: 1fr;
  }
}
