* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-gallery {
  padding-top: 100px;
}

.navbar-brand {
  font-family: "Imperial Script", cursive;
  font-size: 2.5rem;
}

.custom-gallery-wrapper {
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}

.col {
  padding: 0;
  border: 3px solid white;
}

.col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.col:nth-child(1) {
  grid-row: span 2;
}

.col:nth-child(3) {
  grid-row: span 2;
}

.col:nth-child(5) {
  grid-row: span 2;
}

.col:nth-child(7) {
  grid-row: span 2;
}

.col:nth-child(9) {
  grid-row: span 2;
}
