* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: lavender;
}

.main {
  width: 600px;
  height: 400px;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: pink;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgb(168, 167, 167);
  color: rgb(59, 56, 56);
}

button {
  width: 200px;
  height: 50px;
  border: 1px solid purple;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(223, 172, 219);
}

a {
  text-decoration: none;
  color: rgb(68, 68, 68);
}

button:hover {
  width: 205px;
  background-color: rgb(228, 150, 221);
  text-decoration: underline;
}
