* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 600px;
  margin: auto;
  background-color: black;
  display: flex;
}

.col-1 {
  width: 250px;
  height: 100%;
}

.box-1 {
  width: 100%;
  height: 40%;
  border: 5px solid black;
  background-color: rgb(70, 146, 102);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.box-2 {
  width: 100%;
  height: 60%;
  border: 5px solid black;
  background-color: rgb(70, 146, 102);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.col-2 {
  width: 250px;
  height: 100%;
}
.box-3 {
  width: 100%;
  height: 70%;
  border: 5px solid black;
  background-color: rgb(70, 146, 102);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.box-4 {
  width: 100%;
  height: 30%;
  border: 5px solid black;
  background-color: rgb(70, 146, 102);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.col-3 {
  width: 250px;
  height: 100%;
}

.box-5 {
  width: 100%;
  height: 15%;
  border: 5px solid black;
  background-color: rgb(70, 146, 102);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.box-6 {
  width: 100%;
  height: 85%;
  border: 5px solid black;
  background-color: rgb(70, 146, 102);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.col-4 {
  width: 250px;
  height: 100%;
}

.box-7 {
  width: 100%;
  height: 60%;
  border: 5px solid black;
  background-color: rgb(70, 146, 102);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.box-8 {
  width: 100%;
  height: 40%;
  border: 5px solid black;
  background-color: rgb(70, 146, 102);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
