*{
    /* margin: 0; */
    /* padding:0; */
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

main{
    max-width: 1200px;
    margin: auto;
}

nav{
    width: 100%;
    display: flex;
    gap: 20px;
}

.logo{
    width: 20%;
    height: 30px;
    background-color: rgb(148, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.menu{
    width: 80%;
    height: 30px;
    background-color: rgb(223, 73, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-section{
    display: flex;
    width: 100%;
    gap: 20px;
}
    
.header{
    background-color: rgb(107, 18, 18);
    width: 80%;
    display: flex;
    margin-top: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.social-section{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 10px;
    
}

.social-left{
    display: flex;
    width: 60%;
    gap: 20px;
    
}

.a1a3{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.a2a4{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.article{
    width: 320px;
    height: 200px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.social-middle{
    width: 20%;
    display: flex
}

.social{
    width: 100%;
    height: 350px;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.social-right{
    width: 20%;
}

.ads{
    width: 100%;
    height: 480px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}