@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul > li {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #f3eadb;
  color: #4a3f35;
}

header {
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
  grid-column: span 3;
  color: #6b4e3d;
}

nav,
aside {
  padding: 20px;
  border-right: 1px solid #ddd;
}

aside {
  border-right: 0px;
  border-left: 1px solid #ddd;
}

nav > ul > li,
nav > p,
aside > ul > li,
aside > p {
  padding-bottom: 10px;
}

nav > p,
aside > p {
  color: #6b4e3d;
}

nav > p,
aside > p {
  font-weight: bold;
}

article {
  padding: 20px;
}
article > h1 {
  text-align: center;
  color: #6b4e3d;
}

img {
  width: 100%;
}

footer {
  grid-column: span 3;
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid #ddd;
  color: #6b4e3d;
}

footer > p {
  font-weight: bold;
}

@media (max-width: 900px) {
  nav {
    display: grid;
    grid-column: span 3;
    justify-items: center;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }

  nav > ul {
    display: flex;
    gap: 10px;
  }

  article {
    grid-column: span 3;
  }

  aside {
    grid-column: span 3;

    border-left: 0;
    border-top: 1px solid #ddd;
  }
}

@media (max-width: 600px) {
  article h1 {
    font-size: 25px;
  }
}
