@font-face {
    font-family: Ubuntu;
    src: url(/fonts/Roboto,Ubuntu/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: grotesque;
    src: url(fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf);
}


body {
    margin: 0;
    padding: 10px;
    background-color: #f8f9fa;
}

.header {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 54px;
    margin-top: 60px;
    color: rgb(61, 58, 58);
}

img {
    width: 50px;
    padding-top: 5px;

}

.card {

    margin: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 24px 0px rgba(99, 98, 98, 0.5);
}

table {
    margin-left: 80px;
    text-align: center;

}

td {
    width: 250px;
    height: 300px;
    padding: 20px;
}

h1 {
    text-transform: uppercase;
}

p {
    font-size: 18px;
}




.blue {
    background-color: rgb(177, 205, 241);
    font-family: 'Roboto';
}

.pink {
    background-color: rgb(245, 199, 207);
    font-family: 'Montserrat';
}

.gray {
    background-color: rgb(218, 211, 211);
    font-family: 'Ubuntu';
}

.purple {
    background-color: rgb(221, 182, 226);
    font-family: 'grotesque';
}

.green {
    background-color: rgb(158, 241, 183);
    font-family:Arial, Helvetica, sans-serif;
}

.peach {
    background-color: peachpuff;
    font-family: Verdana;
}