* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.left {
    width: 20%;
    height: 100vh;
    background-color: lightpink;
    position: sticky;
    top: 0;
}

.left ul {
    padding: 100px 0px 0px 50px;
}

.left ul li {
    list-style: none;
    padding-top: 30px;
}

.right {
    width: 80%;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: coral;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: none;
    background-color: coral;
}

.hero-section {
    height: 200px;
    background-color: plum;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.cards {
    display: flex;
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;
    /* flex-grow: 1; */
}

.card {
    flex: 1 1 200px;
    min-width: 150px;
    background-color: indianred;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    margin: 10px;
    gap: 10px;
    height: 200px;
}

.box {
    background-color: coral;
    height: 50%;

}

.box-1 {
    width: 50%;
    height: 100%;


}

.box-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#toggle-btn{
    display: none;
}

.open , .close{
    display: none;
}

@media (max-width:600px) {
    .boxes {
        flex-direction: column;
    }

    .box-1,
    .box-right {
        width: 100%;
        height: 100%;
    }

    .right {
        width: 100%;
        position: relative;
    }
    

    .left {
        position: sticky;
        z-index: 1;
        top: 0;
        width: 50%;
        display: none;
    }

    #toggle-btn:checked ~ .left{
        display: block;
    }

    .open, .close{
        display: block;
    }

    .close{
        text-align: end;
        padding: 10px;
    }

}